@import "tailwindcss";

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
  font-family: Inter;
  background: linear-gradient(to right, #111827, #000000);
}


html{
    scroll-behavior: smooth;
}

.hero{
  filter: brightness(30%);
}

.gradient-gold {
  background: linear-gradient(
    100deg, 
    #FFF8DC 0%,   
    #FFE066 25%,  
    #FFD700 50%,  
    #E6BE8A 75%,  
    #B8860B 100%  
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-pink {
  background: linear-gradient(
    90deg, 
    #FFE6F0 0%,   
    #FFB6C1 25%,  
    #FF69B4 50%,  
    #FF1493 75%,  
    #C71585 100%  
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.pink {
    background: linear-gradient(to right, #FF69B4, #C71585);
}